body
{
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: dosisNorm;
    font-size: 1.2em;
}

.segment
{
    border-color: black;
    border-style: solid;
    border-width: 0 0 2px 0;
    width: 80%;
    margin: 0;
    padding: 5% 10%;
    min-height: 30vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#splash
{
    background-color: #026873;
    background-color: #071864;
    
    background-image: 
    linear-gradient(90deg, rgba(255,255,255,.04) 50%, transparent 50%),
    linear-gradient(90deg, rgba(255,255,255,.08) 50%, transparent 50%),
    linear-gradient(90deg, transparent 70%, rgba(255,255,255,.09) 50%),
    linear-gradient(90deg, transparent 80%, rgba(255,255,255,.12) 50%);
    background-size: 13px, 29px, 37px, 53px;
    width: 100%;
    height: 75vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: dosisSemi, sans-serif;
    font-size: 1.5em;
    text-align: center;
}

#nav
{
    height: 10vh;
    border-color: black;
    border-style: solid;
    border-width: 2px 0;
    box-shadow: 0 3px 40px 5px black;
    position: sticky;
    top: -2px;
    background-color: white;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}

#nav a:link
{
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 1.2em;
}

#nav a:hover
{
    color: #0834F6;
}

#skills
{
    min-height: 50vh;
    background-color: lightgray;
}

#projects
{
    min-height: 50vh;
    border-color: black;
    border-style: solid;
    border-width: 0 0 2px 0;
}

.segment img
{
    width: 80%;
}
